body{
    margin: 0 10%;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    padding: 10px;
    text-align: left;
    border: 1px solid #ddd;
    text-align: center;
    width: fit-content;
}

#rm_btn {
    background-color: #ff6666;
    color: #fff;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 3px;
}

#change_role{
    background-color: #05F;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 3px;
}

#logout{
    position: absolute;
    right: 0;
}

#logout:hover{
    background-color: #05F;
    color: white!important;
    border-radius: 4px;
}

#create_user input{
    border: none;
    outline: none;
    text-align: center;
    width: 80%;
}

#togglePassword{
    cursor: pointer;
    border: 0;
    user-select: none;
    width: fit-content;
    background-color: transparent;
    position: absolute;
    float: calc(right - 50px);
}

#create_new_user{
    background-color: rgb(24, 163, 24);
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 3px;
}