body{
    font-family: Source Sans Pro;
}
.navbar{
    position: sticky;
    top: 0;
    z-index: 1000;
}
a, a:hover{
    text-decoration: none;
}
.form{
    padding-bottom: 3%;
}
.para{
    padding-bottom: 5%;
}
p{
    color: #1A1A1A;
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
}
.IO{
    display: flex;
    gap: 100px;
    justify-content: center;
}
.input,.output{
    display: flex;
    flex-direction: column;
    
}

.box{
    display: flex;

}

.tool-box a{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tool-box{
    width: 293.02px;
    height: 130px;
    flex-shrink: 0;
    border-radius: 4px;
    border: 1px solid #E8E8E8;
    background: #FAFAFA;
    margin: 2%;
}

.tool-box:hover{
    background-color: #f2f0f0;
    box-shadow: 20px 12px 27px -8px darkgrey;
    
}
.font-tool{
    color: #1A1A1A;
    font-size: 16px;
    font-style: normal;
}
.name{
    width: fit-content;
    height: fit-content;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px; 
    padding-top: 20px;
}
.content{
    width: fit-content;
    height: max-content;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px; 
    padding: 0 20px 20px 20px;
    cursor: pointer;
}

.arrow {
    font-size: 24px;
    text-decoration: none;
    margin: 0 10px;
}


#index .arrow {
    transform: rotate(180deg);
}



#pipeline .arrow {
    display: inline-block;
    transform: rotate(90deg);
    transform-origin: center;
}

#demo .arrow {
    transform: rotate(180deg); 
}