:root {
    --primary: #007bff;
    --secondary: #bfc0c0;
    --white: #fff;
    --text-clr: #222222;
    --header-clr: #25273d;
    --next-btn-hover: #0044ff;
    --back-btn-hover: #8b8c8c;
  }

body{
    font-family: Source Sans Pro;
}
.navbar{
    position: sticky;
    top: 0;
    /* border-bottom: 2px solid black; */
    z-index: 9999999;
    width: 100%;
    min-height: 5vh;
}

.nav-right{
    position: absolute;
    right: 0;

}
.nav-link-spacing{
    margin-right: 30px;
    color: black;
    font-weight: normal;
    height: fit-content;

}

.nav-link-spacing:hover {
    background-color: #05F;
    border-radius: 4px;
    font-weight: bold;
    color: #fff;
}

.energetic{
    background-color: #05F;
    border-radius: 4px;
    font-weight: bold;
    color: #fff;
    max-height: 5vh;
}