:root {
    --primary: #007bff;
    --secondary: #bfc0c0;
    --white: #fff;
    --text-clr: #222222;
    --header-clr: #25273d;
    --next-btn-hover: #0044ff;
    --back-btn-hover: #8b8c8c;
    --hover: #27408B;
}

body{
    font-family: sans-serif;
}
.alert{
    z-index: 9999;
    width: 100%;
    height: fit-content;
    margin: 0;
}
.fade:not(.show){
    display: none;
}

.navbar-nav img{
    width: 100%;
}
.navbar{
    position: sticky;
    top: 0;
    z-index: 9999999;
    width: 100%;
    min-height: 5vh;
}
.logo{
    width: 73px;
}

.nav-right{
    position: absolute;
    right: 16px;
}
.nav-link-spacing{
    margin-right: 30px;
    color: black;
    font-weight: normal;
    height: fit-content;
}

.nav-link-spacing:hover:not(.logo){
    background-color: var(--hover);
    border-radius: 4px;
    color: #fff;
    margin-right: 30px;
    font-weight: normal;
    height: fit-content;
}

.energetic{
    background-color: var(--hover);
    border-radius: 4px;
    color: #fff!important;
}
.navbar{
    background-color: #00194C;
    width: 100%;
}
.menu_account{
    display: flex;
    width: 151px;
    height: 40px;
    padding: 8px 9px;
    justify-content: center;
    align-items: center;
    gap: 5px;
    flex-shrink: 0;
    border-radius: 4px;
    border: 1px solid #E8E8E8;
    background-color: white;
}
.name_account{
    display: flex;
    width: 110px;
    height: 20px;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    color: var(--black-text, var(--normal-text, #222));
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 150% */
    cursor: pointer;
    padding-top: 12%;
}
.icon_acount{
    width: 24px;
    height: 24px;
    flex-shrink: 0;
}
#re-icon,
#icon {
    cursor: pointer;
    border: 0;
    user-select: none;
    width: fit-content;
    background-color: transparent;
    position: relative;
    width: 3%;
}
#password_container{
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 0.25rem;
    width: 60%;
    outline: 0;
    border: 1px solid lightgray;
    border-radius: 8px;
}
.form-control:focus,
.form-control{
    width: 95%;
    border: none;
    outline: 0;
    box-shadow: none;
}
.username{
    min-width: 130px;
    min-height: 40px;
    text-overflow: ellipsis;
    overflow: hidden;
}