:root {
    --primary: #007bff;
    --secondary: #bfc0c0;
    --white: #fff;
    --text-clr: #222222;
    --header-clr: #25273d;
    --next-btn-hover: #0044ff;
    --back-btn-hover: #8b8c8c;
    --hover: #27408B;
  }

body{
    font-family: sans-serif;
}
.navbar-nav img{
    width: 100%;
}
.navbar .logo{
    width: 10%;
}
.navbar{
    position: sticky;
    top: 0;
    z-index: 9999999;
    width: 100%;
    min-height: 5vh;
}

.nav-right{
    position: absolute;
    right: 0;

}
.nav-link-spacing{
    margin-right: 30px;
    color: black;
    font-weight: normal;
    height: fit-content;
}

.nav-link-spacing:hover:not(.logo){
    background-color: var(--hover);
    border-radius: 4px;
    color: #fff;
    margin-right: 30px;
    font-weight: normal;
    height: fit-content;
}

.energetic{
    background-color: var(--hover);
    border-radius: 4px;
    color: #fff!important;
}