:root {
    --primary: #007bff;
    --secondary: #bfc0c0;
    --white: #fff;
    --text-clr: #222222;
    --header-clr: #25273d;
    --next-btn-hover: #0044ff;
    --back-btn-hover: #8b8c8c;
    --before: #0055FF;
}
.input{
    display: flex;
    gap: 20px;
}

.input .step_1{
    color: var(--before);
    border-radius: 15px;
    border: 1px solid var(--before);
    padding: 5px;
    height: fit-content;
}

.input::before{
    content: "";
    position: absolute;
    border-left: 1px solid black;
    height: 310px;
    left: 166px;
    top: 135px;
}

.input .text{
    width: 45%;
}
.input .title{
    position: relative;
    left: 16px;
}

.input .content{
    margin-top: 5%;
    width: 100%;
    position: relative;
    left: 16px;
}

.input .img{
    margin-top: 5px;
    width: 45%;
}
.img img{
    width: 100%;
}

.output{
    position: relative;
    top: 38px;
    display: flex;
    gap: 20px;
}

.output .step_2{
    border-radius: 15px;
    border: 1px solid var(--before);
    padding: 5px;
    height: fit-content;
}

.output .text{
    width: 45%;
}
.output .title{
    position: relative;
    left: 16px;
}

.output .content{
    margin-top: 5%;
    width: 100%;
    position: relative;
    left: 16px;
}

.output .img{
    width: 45%;
}
.img img{
    width: 100%;
}
.header{
    margin: 2% 10%;
    display: flex;
    flex-direction: column;
}

.form_wrap {
    margin-bottom: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.vid{
    display: flex;
    justify-content: center;
    align-items: center;
    border:2px solid rgb(224, 222, 222);
    background-color:rgb(247, 244, 244) ;
    max-width: calc(fit-content + 5%);
    
}


.form_wrap h2 {
    color: var(--header-clr);
    text-align: center;
    margin-bottom: 20px;
}

.form_wrap .input_wrap {
    width: 350px;
    max-width: 100%;
    margin: 0 auto 20px;
}

.form_wrap .input_wrap:last-child {
    margin-bottom: 0;
}

.form_wrap .input_wrap label {
    display: block;
    margin-bottom: 5px;
}

.form_wrap .input_wrap .input {
    border: 2px solid var(--secondary);
    border-radius: 5px;
    padding: 10px;
    display: block;
    width: 100%;
    font-size: 16px;
    transition: 0.5s ease;
}

.form_wrap .input_wrap .input:focus {
    border-color: var(--primary);
}

.btns_wrap {
    width: 350px;
    max-width: 100%;
    margin: 0 auto;
}

.btns_wrap .common_btns {
    display: flex;
    justify-content: space-between;
}

.btns_wrap .common_btns.form_1_btns {
    justify-content: flex-end;
}

.btns_wrap .common_btns button {
    border: 0;
    padding: 12px 15px;
    background: var(--primary);
    color: var(--white);
    width: 135px;
    justify-content: center;
    display: flex;
    align-items: center;
    font-size: 16px;
    border-radius: 5px;
    transition: 0.5s ease;
    cursor: pointer;
}

.btns_wrap .common_btns button.btn_back {
    background: var(--secondary);
}

.btns_wrap .common_btns button.btn_next .icon {
    display: flex;
    margin-left: 10px;
}

.btns_wrap .common_btns button.btn_back .icon {
    display: flex;
    margin-right: 10px;
}

.btns_wrap .common_btns button.btn_next:hover,
.btns_wrap .common_btns button.btn_done:hover {
    background: var(--next-btn-hover);
}

.btns_wrap .common_btns button.btn_back:hover {
    background: var(--back-btn-hover);
}

.form_2.data_info,
.form_3.data_info,
.common_btns.form_2_btns,
.common_btns.form_3_btns {
    display: none;
}
