:root {
    --primary: #007bff;
    --secondary: #bfc0c0;
    --white: #fff;
    --text-clr: #222222;
    --header-clr: #25273d;
    --next-btn-hover: #0044ff;
    --back-btn-hover: #8b8c8c;
    --before: #0055FF;
}
.header {
    position: relative;
    display: flex;
    justify-content: left;
    padding-bottom: 10%;
}
.number{
    list-style: none;

}
.step{
    padding-left: 0;

}


.header .step {
    display: flex;
    flex-direction: column;
}

.header .step .number {
    margin-right: 50px;
    position: relative;
}

.header .step .number:last-child {
    margin-right: 0;
}

.header .step .number:before {
    content: "";
    position: absolute;
    top: 55%;
    left: 50%;
    width: 2px;
    height: 100%;
    background: var(--secondary);
}

.header .step .number:last-child:before {
    display: none;
}

.header .step .number div {
    padding: 140px;
    border-radius: 50%;
}

.header .step .number .text-step {
    width: 50px;
    height: 50px;
    background: var(--primary);
    color: var(--white);
    text-align: center;
    line-height: 50px;
    border-radius: 50%;
}
.content{
    position: absolute;
    top: 0;

    top: 15%;
}
.text{
    position: relative;
    padding: 2%;
    width: 35%;
    display: flex;
    flex-direction: column;
    left: 15%;
    border-bottom: 1px solid #444;

}
.content-title{
    color: #000;
    font-family: Source Sans Pro;
    font-size: 25px;
    font-style: normal;
    font-weight: 700;
    line-height: 60.5px;

}
.content-text{
    color: #444;
    font-family: Source Sans Pro;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 39px;
    text-align: justify;

}
.img_content{
    position: absolute;
    top: 15%;
}
.input_img{
    width: 100%;
}
.img{
    position: relative;
    width: 40%;
    padding-bottom: 5%;
    left: 55%;
}

.form_wrap {
    margin-bottom: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.box-vid{
    border: 1px solid #000;
    border-radius: 2.75%;
    width: 105%;
    height: 490px;
}
.vid{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border:2px solid rgb(224, 222, 222);
    padding-bottom: 2%;
    width: 93%;
    left: 4%;
    top: 2%;
}
.img-vid{
    width: 100%;
}


.form_wrap h2 {
    color: var(--header-clr);
    text-align: center;
    margin-bottom: 20px;
}

.form_wrap .input_wrap {
    width: 350px;
    max-width: 100%;
    margin: 0 auto 20px;
}

.form_wrap .input_wrap:last-child {
    margin-bottom: 0;
}

.form_wrap .input_wrap label {
    display: block;
    margin-bottom: 5px;
}

.form_wrap .input_wrap .input {
    border: 2px solid var(--secondary);
    border-radius: 5px;
    padding: 10px;
    display: block;
    width: 100%;
    font-size: 16px;
    transition: 0.5s ease;
}

.form_wrap .input_wrap .input:focus {
    border-color: var(--primary);
}

.btns_wrap {
    width: 350px;
    max-width: 100%;
    margin: 0 auto;
    padding-bottom: 5%;
}

.btns_wrap .common_btns {
    display: flex;
    justify-content: space-between;
}

.btns_wrap .common_btns.form_1_btns {
    justify-content: flex-end;
}

.btns_wrap .common_btns button {
    border: 0;
    padding: 12px 15px;
    background: var(--primary);
    color: var(--white);
    width: 135px;
    justify-content: center;
    display: flex;
    align-items: center;
    font-size: 16px;
    border-radius: 5px;
    transition: 0.5s ease;
    cursor: pointer;
}

.btns_wrap .common_btns button.btn_back {
    background: var(--secondary);
}

.btns_wrap .common_btns button.btn_next .icon {
    display: flex;
    margin-left: 10px;
}

.btns_wrap .common_btns button.btn_back .icon {
    display: flex;
    margin-right: 10px;
}

.btns_wrap .common_btns button.btn_next:hover,
.btns_wrap .common_btns button.btn_done:hover {
    background: var(--next-btn-hover);
}

.btns_wrap .common_btns button.btn_back:hover {
    background: var(--back-btn-hover);
}

.form_2.data_info,
.form_3.data_info,
.common_btns.form_2_btns,
.common_btns.form_3_btns {
    display: none;
}
