form{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    top: 100px;
}

.form-group{
    width: 45%;

}
.form-control:focus,
.form-control{
    width: 100%;
    border: 1px solid lightgray;
    outline: 0;
    border-radius: 8px;
    box-shadow: none;
}

.btn:hover,
.btn:focus,
.btn{
    width: 45%;
    outline: 0;

    color: white;
}