/* Background image */
.header{
    position: relative;
    background-image: url('/static/images/background 1.png');
    width: 100%;
    background-size: 100%;
    background-repeat: no-repeat;
    overflow: hidden;
    min-height: 105vh;
}
a, a:hover{
    text-decoration: none;
}
.form{
    color: #fff;

}
.title{
    padding-top: 5%;
    text-align: center;
    font-size: 80px;
    font-style: normal;
    font-weight: 700;
    line-height: 80px;
}
.range{
    width: 90%;
}
.para{
    text-align: justify;
    text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.25);
    font-size: 19px;
    font-style: normal;
    font-weight: 700;
    line-height: 39px;
}
.text{
    width: 60%;
}
.text1{
    text-align: justify;
}

p{
    color: #fff;
    text-align: center;
    text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.25);
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 39px;
}
.box{
    display: flex;
    justify-content: center;
}

.tool-box a{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tool-box{
    width: 293.02px;
    height: 130px;
    flex-shrink: 0;
    border-radius: 4px;
    border: 1px solid #E8E8E8;
    background: #FAFAFA;
    margin: 2%;
    margin-bottom: 0px;
}

.tool-box:hover{
    background-color: #f2f0f0;
    box-shadow: 20px 12px 27px -8px darkgrey;
    
}
.font-tool{
    color: #1A1A1A;
    font-size: 16px;
    font-style: normal;
}
.name{
    width: fit-content;
    height: fit-content;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px; 
    padding-top: 20px;
}
.content{
    width: fit-content;
    height: max-content;
    font-size: 14px;
    font-weight: 400px;
    line-height: 20px; 
    padding: 0 20px 20px 20px;
    cursor: pointer;
}

/* Accuracy */

.accuracy{
    background: #F1F6FB;
    width: 100%;
    min-height: 140vh;
}

.title-accuracy{
    color: #000;
    font-size: 60px;
    padding-top: 20%;

}
.box-accuracy{
    display: flex;
    justify-content:space-around;
    align-items: center;
    padding-top: 10%;
}
.accuracy-box{
    width: 30%;

}
.accuracy-title{
    color: #1A1A1A;
    font-size: 40px;
    font-style: normal;
    font-weight: 600;
    line-height: 52px;
}
.accuracy-text{
    text-align: justify;
    color: #697777;
    font-size: 23px;
    font-style: normal;
    font-weight: 400;
    line-height: 39px;
}

/* Platform */

.platform{
    background: #fff;
    width: 100%;
    min-height: 160vh;
}
.box-platform{
    display: flex;
    justify-content:space-around;
    align-items: center;
    padding-top: 10%;
}
.platform-box{
    width: 30%;

}
.title-platform{
    color: #000;
    font-size: 60px;
    padding-top: 20%;
    font-style: normal;
    font-weight: 700;
    line-height: 100.8px;
    margin-left: 10%;
}

.platform-title{
    color: #1A1A1A;
    font-size: 40px;
    font-style: normal;
    font-weight: 600;
    line-height: 52px;
}
.platform-text{
    text-align: justify;
    color: #697777;
    font-size: 23px;
    font-style: normal;
    font-weight: 400;
    line-height: 39px;
}

/* Footer */
.footer{
    background: #F1F6FB;
    width: 100%;
    min-height: 110vh;
}
.img-logo{
    padding-left: 15%;
    padding-top: 10%;
    transition: all;
}
.box-footer{
    display: flex;
    justify-content:space-around;
    align-items: center;
    padding-top: 5%;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    max-width: 70%;
    margin-left: 15%;
    padding-bottom: 10%;
}
.footer-title{
    color: #000;
    font-size: 30px;
    font-style: normal;
    font-weight: 600;
    line-height: 52px;
}
.footer-text{
    text-align: justify;
    color: #000;
    font-size: 23px;
    font-style: normal;
    font-weight: 400;
    line-height: 39px;
}