body {
    font-family: Source Sans Pro;
    margin: 0;
}

.boxx{
    display: flex;


}
.box-left {

}
.box-rigth{
    padding: 20px;

}
.pipeline {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 50px 20px;
}

.step {
    text-align: center;
    padding: 20px;
    border: 2px solid #007bff;
    border-radius: 8px;
    background-color: #f8f9fa;
    margin: 0 0 20px;
    width: 80%;
    position: relative;
}

.step::before {
    content: '';
    position: absolute;
    top: -20px;
    left: 50%;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 20px 20px 0;
    border-color: #007bff transparent transparent;
    transform: translateX(-50%);
}

.step:last-child::after {
    content: none;
}

h3 {
    color: #007bff;
}
#pipeline {
    text-align: right;
}