
.fastq{
    margin-left: 7%;

}
.title{
    text-align: center;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 80px; 
    padding-top: 5%;
}




.pipeline {
    position: relative;
    display: flex;
    justify-content: center;
}
.number{
    list-style: none;
}

.pipeline .step {
    display: flex;
    flex-direction: column;
}

.pipeline .step .number {
    margin-right: 50px;
    position: relative;
}

.pipeline .step .number:last-child {
    margin-right: 0;
}

.pipeline .step .number:before {
    content: "";
    position: absolute;
    top: 55%;
    left: 50%;
    width: 2px;
    height: 100%;
    background: var(--secondary);
}

.pipeline .step .number:last-child:before {
    display: none;
}

.pipeline .step .number div {
    padding: 80px;
    border-radius: 50%;
}

.pipeline .step .number .text-step {
    width: 50px;
    height: 50px;
    background: var(--secondary);
    color: var(--white);
    text-align: center;
    line-height: 50px;
    border-radius: 50%;
}

.content{
    position: absolute;
    top: 0;
    padding: 50px;
    margin: 0 2%;
}
.text{
    padding: 1%;
    width: 50%;
    display: flex;
    flex-direction: column;
}
.content-title{
    color: #000;
    font-size: 25px;
    font-style: normal;
    font-weight: 700;
    line-height: 60.5px;

}
.content-text{
    color: #444;
    font-size: 19px;
    font-style: normal;
    font-weight: 400;
    line-height: 39px;

}
.content .text:nth-child(odd){
    position: relative;
    text-align: right;
    padding: 1%;
    right: 5%;
}
.content .text:nth-child(even){
    position: relative;
    left: 52%;
    padding: 2%;

}