form{
    display: flex;
    flex-direction: column;
    align-items: center;
}
form .title_reset{
    margin: 5% 0;
}

.form-group{
    width: 40%;
}
.form-group{
    display: flex;
    align-items: start;
    flex-direction: column;
}
.form-group label{
    width: 100%;
}

#pasword_container input:focus,
#pasword_container input{
    width: 40%;
    border: 1px solid lightgray;
    outline: 0;
    border-radius: 8px;
    box-shadow: none;
}

#re-togglePassword,
#togglePassword {
    cursor: pointer;
    border: 0;
    user-select: none;
    width: fit-content;
    background-color: transparent;
    position: relative;
}

#password_container{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    outline: 0;
    border: 1px solid lightgray;
    border-radius: 8px;
}