{% extends "base.html" %}

{% block title %}Admin{% endblock %}

{% block content %}
<link rel="stylesheet" href="../static/admin.css">
<body>
    <div class="admin_body">
        <br>
        <h1 align="center">Welcome back, admin</h1>
        
        <h2>All Users</h2>
        <form action="" method="POST">
            <table>
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Operation</th>
                    </tr>
                </thead>
                <tbody>
                    {% for customer in user %}
                    <tr>
                        <td>{{ customer.username }}</td>
                        <td>{{ customer.email }}</td>
                        <td>
                            <button id="rm_btn" onclick="deleteUser('{{ customer.id }}')">Delete</button>
                            <button id="change_role" onclick="changeRole('{{ customer.id }}')">Change role</button>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </form>
    </div>
</body>
<script src="../static/admin.js"></script>
{% endblock %}
