{% extends 'home.html' %}
{% block title %}Folder{% endblock %}
{% block content %}
<link rel="stylesheet" href="../static/folder.css">
  <div class="form">

    <!-- <div class="step">
      <div class="pipeline">
        <div class="retangular"></div>
        <div class="triangle"></div>
      </div>
      <div class="pipeline">
        <div class="retangular"></div>
        <div class="triangle"></div>
      </div>
      <div class="pipeline">
        <div class="retangular"></div>
        <div class="triangle"></div>
      </div>

    </div> -->

    <h2 class="title head">Folder: {{ folder.name }}</h2>
    
    <!-- Display files -->
    <h2 class="title head">Upload files:</h2>
    <p class="title"><i>Upload 2 fastq.gz files</i></p>
    <ul>
      {% set sorted_subfiles = subfiles | sort(attribute='name') %}

      {% for subfile in sorted_subfiles %}

        {% if subfile.name.endswith('.gz') %}
          <div class="file-list name-file">
            <li>{{ subfile.name }}</li>
            <button type="button" class="close" onclick="deleteSubFile('{{ subfile.id }}','{{ subfile.folder_id }}')">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
        {% endif %}
      {% endfor %}

    </ul>
  
 <!-- Create new file -->
 <form action="/folder/{{ folder.id }}" method="post" enctype="multipart/form-data" id="uploadForm">
  <div id="fileInputContainer">
	  {% if subfiles|length>=2 %}
      <button type="button" class="btn-primary btn execute-button" id="addFileBtn" onclick="executeF('{{ folder.id }}')">Analyze FastQ files</button>
    {% else %}
    <ul>
      {%if subfiles|length==0%}
      <div class="file-list box-list">
        <li><input type="file" id="inputFile1" name="inputFile1" accept=".txt, .fastq, .gz"></li>
      </div>
      <div class="file-list box-list">
        <li><input type="file" id="inputFile2" name="inputFile2" accept=".txt, .fastq, .gz"></li>
      </div>
      {%elif subfiles[0].name.endswith("_2.fastq.gz")%}
      <div class="file-list box-list">
        <li><input type="file" id="inputFile1" name="inputFile1" accept=".txt, .fastq, .gz"></li>
      </div>
      {%elif subfiles[0].name.endswith("_1.fastq.gz")%}
      <div class="file-list box-list">
        <li><input type="file" id="inputFile2" name="inputFile2" accept=".txt, .fastq, .gz"></li>
      </div>
      {%endif%}
    </ul>
      <button type="submit" class="btn btn-primary">Add File</button>
    {% endif %}
  </div>
</form>
  
    <!-- Display output files -->
    <div class="ouput-file">
      <h2 class="title head">Output:</h2>
      <p class="title"><i>The output will be a CSV file containing annotated genomic variations obtained by converting filtered VCF files to AVinput format.</i></p>
      <ul>
         {% for subfile in output %}
          {% if subfile.name.endswith('.csv') %}
            <div class="file-list name-file">
              <li><a href="{{ url_for('get_file', file_id=subfile.id) }}">{{ subfile.name }}</a></li>
              <button type="button" class="close" onclick="deleteSubFile('{{ subfile.id }}','{{ subfile.folder_id }}')">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
          {% endif %}
        {% endfor %}
      </ul>
    </div>
  </div>
{% endblock %}

