{%extends "base.html"%}
{%block title%}Home{%endblock%}
{% block content %}
<link rel="stylesheet" href="../static/home.css">
<div class="form">
  <br>
  <div class="head">
    <h2 class="title">Folders list</h2>
      <!-- Create new folder -->
    <form action="/folder" method="post" class="input">
      <input type="text" id="folderName" name="folderName" placeholder="Enter folder name">

      <button type="submit" class="btn">Create Folder</button>
  </form>
  </div>
  </div>
  <ul class="form">
    <div class="file-list title-folder">
      <li>Name</li>
    </div>
    {% for folder in folders %}
    {% if folder.parent_folder_id is none %}
            <div class="file-list">
              <a href="{{ url_for('get_folder', folder_id=folder.id) }}" class="link">
                <li>
                  <img src="/static//images/Folder.png" class="icon-folder">
                  {{ folder.name }}
                </li>
              </a>
              <button type="button" class="close" onclick="deleteFolder('{{ folder.id }}')">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
          {% endif %}
        {% endfor %}
      </ul>
  
  

{% endblock %}