{% extends 'base.html' %}
{% block title %}Homepage{% endblock %}
{% block content %}

<div class="header">
    <link rel="stylesheet" href="../static/index.css">
    <div class="form text-center mx-auto range">
    <h1 class="title"><strong>Processing of Data for <br> Limb Bone Abnormality Sequences </strong></h1>
    </div>
    <div class="form mt-4 text-center mx-auto text">
        <p class="text1">Explore genetic insights effortlessly on our dedicated platform, meticulously crafted for limb bone abnormality sequence processing.
                Tailored for precision, our space streamlines analysis, offering a seamless experience for researchers and healthcare professionals. 
                Welcome to the new era of genetic exploration in the field of data science and technology!</p>
    </div>

    <div class="form  text-center mx-auto">
        <h1 class="begin"><strong>Bioinformatic tools</strong></h1>
    </div>
    <div class="box">
        <div class="tool-box">
            <a href="https://bioinformaticshome.com/tools/rna-seq/descriptions/Trimmomatic.html#gsc.tab=0" target="_blank">
                <p class="font-tool name"><strong>Trimomatic 0.39</strong></p>
                <p class="font-tool content">Trim and crop Illumina (FASTQ) data as well as to remove adapters</p>
            </a>
            </div>
        <div class="tool-box">
            <a href="https://gatk.broadinstitute.org/hc/en-us" target="_blank">
                <p class="font-tool name"><strong>Genome Analysis Toolkit</strong></p>
                <p class="font-tool content">Include tools for variant calling, recalibration,  downstream processing</p>
            </a>
        </div>
        <div class="tool-box">
            <a href="https://annovar.openbioinformatics.org/en/latest/" target="_blank">
                <p class="font-tool name"><strong>Annovar</strong></p>
                <p class="font-tool content">Utilize update-to-date information to functionally annotate genetic variants detected from diverse genomes</p>
            </a>
        </div>

    </div>
    <div class="box">
        <div class="tool-box">
            <a href="https://vcftools.sourceforge.net/" target="_blank">
                <p class="font-tool name"><strong>VCFtools</strong></p>
                <p class="font-tool content">Manipulate and filter Variant Call Format (VCF) files</p>
            </a>
        </div>
        <div class="tool-box">
            <a href="https://broadinstitute.github.io/picard/command-line-overview.html" target="_blank">
                <p class="font-tool name"><strong>Picard</strong></p>
                <p class="font-tool content">Mark duplicate reads, sort, index BAM(Binary Alignment Map) files</p>
            </a>
        </div>
        <div class="tool-box">
            <a href="https://www.bioinformatics.babraham.ac.uk/projects/fastqc/" target="_blank">
                <p class="font-tool name"><strong>FastQC</strong></p>
                <p class="font-tool content">Check the quality of DNA</p>
            </a>
        </div>
    </div>

</div>

{% endblock %}


