{% extends 'base.html' %}
{% block title %}HomePage{% endblock %}

{% block content %}

<div class="container">

    <div class="form mt-4 text-center mx-auto">
        <h1 class="begin">We optimize the data processing workflow.</h1>
        <p>A website supports processing sequence data of Limb Bone Abnormality patients</p>
    </div>
    <p class="para">The methods employed in this website are based on the research paper 
        “From FastQ data to high confidence variant calls: the Genome Analysis Toolkit best practices pipeline” 
        by Geraldine A. Van der Auwera, Mauricio O. Carneiro, Chris Hartl, Ryan Poplin, Guillermo del Angel, Ami Levy-Moonshine, 
        Tadeusz Jordan, Khalid Shakir, David Roazen, Joel Thibault, Eric Banks, Kiran V. Garimella,  David Altshuler, Stacey Gabriel, and Mark A. DePristo.</p>
    
    <div class="form mt-4 text-center mx-auto">
        <h1 class="begin">Bioinformatic tools</h1>
        <p>5 bioinformatic tools are used for the analysis of limb bone abnormality patient sequence data</p>
    </div>
    <div class="box">
        <div class="tool-box">
            <p class="font-tool name"><strong>Trimomatic 0.39</strong></p>
            <a href="https://bioinformaticshome.com/tools/rna-seq/descriptions/Trimmomatic.html#gsc.tab=0" target="_blank">
                <p class="font-tool content">trim and crop Illumina (FASTQ) data as well as to remove adapters</p>
            </a>
            </div>
        <div class="tool-box">
            <p class="font-tool name"><strong>Genome Analysis Toolkit</strong></p>
            <a href="https://gatk.broadinstitute.org/hc/en-us" target="_blank">
                <p class="font-tool content">include tools for variant calling, recalibration,  downstream processing</p>
            </a>
        </div>
        <div class="tool-box">
            <p class="font-tool name"><strong>ANNOVAR</strong></p>
            <a href="https://annovar.openbioinformatics.org/en/latest/" target="_blank">
                <p class="font-tool content">utilize update-to-date information to functionally annotate genetic variants detected from diverse genomes</p>
            </a>
        </div>

    </div>
    <div class="box">
        <div class="tool-box">
            <p class="font-tool name"><strong>VCFTOOLS</strong></p>
            <a href="https://vcftools.sourceforge.net/" target="_blank">
                <p class="font-tool content">manipulate and filter Variant Call Format (VCF) files</p>
            </a>
        </div>
        <div class="tool-box">
            <p class="font-tool name"><strong>Picard</strong></p>
            <a href="https://broadinstitute.github.io/picard/command-line-overview.html" target="_blank">
                <p class="font-tool content">mark duplicate reads, sort, index BAM(Binary Alignment Map) files</p>
            </a>
        </div>
        <div class="tool-box">
            <p class="font-tool name"><strong>FastQC</strong></p>
            <a href="https://www.bioinformatics.babraham.ac.uk/projects/fastqc/" target="_blank">
                <p class="font-tool content">check the quality of DNA</p>
            </a>
        </div>
    </div>

</div>



{% endblock %}

