{% extends 'base.html' %}
{% block title %}Homepage{% endblock %}
{% block content %}

<div class="header">
    <link rel="stylesheet" href="../static/index.css">
    <div class="form text-center mx-auto range">
    <h1 class="title">Processing of Data for <br> Limb Bone Abnormality Sequences</h1>
    </div>
    <div class="form mt-4 text-center mx-auto text">
        <p class="text1">Explore genetic insights effortlessly on our dedicated platform, meticulously crafted for limb bone abnormality sequence processing.
                Tailored for precision, our space streamlines analysis, offering a seamless experience for researchers and healthcare professionals. 
                Welcome to the new era of genetic exploration in the field of data science and technology!</p>
    </div>

    <div class="form  text-center mx-auto">
        <h1 class="begin"><strong>Bioinformatic tools</strong></h1>
    </div>
    <div class="box">
        <div class="tool-box">
            <a href="https://www.bioinformatics.babraham.ac.uk/projects/fastqc/" target="_blank" title="FastQC document">
                <p class="font-tool name">FastQC</p>
                <p class="font-tool content">spot potential problems in high througput sequencing datasets</p>
            </a>
        </div>
        <div class="tool-box">
            <a href="https://bioinformaticshome.com/tools/rna-seq/descriptions/Trimmomatic.html#gsc.tab=0" target="_blank" title="Trimomatic document">
                <p class="font-tool name">Trimomatic 0.39</p>
                <p class="font-tool content">trim and crop Illumina (FASTQ) data as well as to remove adapters</p>
            </a>
            </div>
        <div class="tool-box">
            <a href="https://bio-bwa.sourceforge.net/" target="_blank" title="BWA document">
                <p class="font-tool name">BWA</p>
                <p class="font-tool content">mapping with hg19 reference genome</p>
            </a>
            </div>
        <div class="tool-box">
            <a href="https://broadinstitute.github.io/picard/command-line-overview.html" target="_blank" title="Picard document">
                <p class="font-tool name">Picard</p>
                <p class="font-tool content">sort sam according to coordinate, add read groups, mark duplicate reads</p>
            </a>
        </div>
    </div>
    <div class="box">
        <div class="tool-box">
            <a href="https://gatk.broadinstitute.org/hc/en-us" target="_blank" title="GATK document">
                <p class="font-tool name">Genome Analysis Toolkit</p>
                <p class="font-tool content">include tools for variant calling, hard filtering</p>
            </a>
        </div>
        <div class="tool-box">
            <a href="https://vcftools.sourceforge.net/" target="_blank" title="VCFtools document">
                <p class="font-tool name">VCFtools</p>
                <p class="font-tool content">split VCF file into SNP and indels for hard filtering</p>
            </a>
        </div>
        <div class="tool-box">
            <a href="https://annovar.openbioinformatics.org/en/latest/" target="_blank" title="Annovar document">
                <p class="font-tool name">Annovar</p>
                <p class="font-tool content">annotate VCF file for assigning functional information to DNA variants</p>
            </a>
        </div>
    </div>


</div>
<div class="accuracy">
    <h2 class="title title-accuracy">Accurate - Simplified</h2>
    <div class="box-accuracy">
        <div class="accuracy-box">
            <div class="accuracy_img">
                <img src="/static/images/dart.png" alt="dart">
            </div>
            <h3 class="accuracy-title">High Accuracy</h3>
            <p class="accuracy-text">Our bioinformatics tools delivered impressive performance, revealing a remarkable mapping with high accuracy. 
                These robust results underscore the reliability and effectiveness of our website.</p>
        </div>
        <div class="accuracy-box">
            <div class="accuracy_img">
                <img src="/static/images/Web designers working on website design.png" alt="dart">
            </div>
            <h3 class="accuracy-title">User-friendly design</h3>
            <p class="accuracy-text">Our user-centric website combines simplicity and a friendly interface,
                ensuring accessibility for all users. Its intuitive design facilitates easy navigation, 
                enhancing the overall user experience</p>
        </div>
    </div>
</div>
<div class="accuracy">
    <h2 class="title title-accuracy">Our Platforms are <br> Designed Specifically For</h2>
    <div class="box-accuracy">
        <div class="accuracy-box">
            <div class="accuracy_img">
                <img src="/static/images/set of test tubes.png" alt="">
            </div>
            <h3 class="accuracy-title">Advancements in Research</h3>
            <p class="accuracy-text">Scientists and researchers can utilize our software as a solution for conducting 
                comprehensive investigations into the genetic foundations of limb bone abnormalities. 
                This contributes to the broader scientific knowledge and understanding of these conditions.</p>
        </div>
        <div class="accuracy-box">
            <div class="accuracy_img">
                <img src="/static/images/Scientific research and experiment in science laboratory.png" alt="">
            </div>
            <h3 class="accuracy-title">Carrier Screening Test</h3>
            <p class="accuracy-text">This platform can contribute to the screening of couples for the 
                potential risk of passing on specific genetic conditions to their children.</p>
        </div>
    </div>
</div>
<footer class="footer">
    <img src="../static/images/background_image.jpg" alt="Backgournd" class="bg_footer">
    <img src="/static/images/usth_footer.png" alt="" class="img-logo">
    <div class="box-footer">
        <div class="footer-left">
            <h3 class="footer-title">Site map</h3>
            <a href="{{url_for('ourstory')}}" id="ourstory"><p class="footer-text">Our Story</p></a>
            <a href="{{url_for('pipeline')}}" id="pipeline"><p class="footer-text">Bioinformatics Pipeline</p></a>
            <a href="{{url_for('demo')}}" id="demo"><p class="footer-text">Demo</p></a>
        </div>
        <div class="content-right">
            <h3 class="footer-title">Get in touch</h3>
            <p class="footer-text">A21 building, Vietnam Academy of Science <br> 
                and Technology, 18 Hoang Quoc Viet, Cau Giay, Hanoi</p>
            <p class="footer-text">+84-24 37 91 69 60</p>
            <a href="mailto:officeusth@usth.edu.vn"><p class="footer-text" title="Mail to USTH">officeusth@usth.edu.vn</p></a>
        </div>
    </div>
</footer>
{% endblock %}


