<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>File Upload</title>
</head>
<body>
    <h1>Simple File Upload</h1>
    
    <form id="uploadForm" action="#" method="post" enctype="multipart/form-data">
        <label for="fileInput">Choose a file:</label>
        <input type="file" id="fileInput" name="fileInput" accept=".txt, .pdf, .doc, .docx">
        <button type="button" onclick="uploadFile()">Upload</button>
    </form>

    <div id="result"></div>
    <script src="../static/main.js"></script>
</body>
</html>
