{% extends 'base.html' %}
{% block title %}Homepage{% endblock %}
{% block content %}
<link rel="stylesheet" href="../static/ourstory.css">
<div class="body">
    <div class="title">
        <h1><b>Our story</b></h1>
    </div>
    <div class="content">

        <p>Currently, the field of Information and Communication Technology (ICT) is rapidly advancing globally, especially in the medical sector, particularly in the 
            detection of bone abnormalities. Researchers have integrated information technology into their studies, developing various bioinformatics tools. However, most of 
            these tools function independently and have limited fixed features, such as Clustal X (used for comparing and aligning nucleotide or protein sequences) and 
            SeqVerter (converting between DNA or protein sequence formats). Nevertheless, the standalone nature and limited functionality of these tools pose challenges, as 
            researchers often need to input and output data multiple times, consuming considerable time and effort but the final results may still be inaccurate. </p>
        <br>
        <p>Recognizing this reality, our team conceived and developed a website that connects suitable bioinformatics tools. Our software specifically supports the processing 
            of limb bone abnormality data.</p>
        <br>
        <p>This project not only combines the fields of information science and biological technology but also addresses the practical challenges faced by researchers. We hope 
            that this project will contribute to the advancement of bioinformatics software technology and serve as a significant step forward for research in this domain.</p>
        </div>
    </div>
{% endblock %}