{% extends 'base.html' %}
{% block title %}Reset password{% endblock %}
{% block content %}
<link rel="stylesheet" href="../static/reset_password.css">
<form action="" method="post" class="form_reset">
    <h1 class="title_reset">Reset password</h1>
    <p class="reset_for">Reset password for: {{email}}</p>
    <div class="form-group">
        <label for="password">Password</label>
        <div id="password_container">
            <input type="password" class="form-control" id="password" name="password", placeholder="Enter password">
            <img src="../static/images/eye-show.png" alt="" id="icon">
        </div>
    </div>
    <div class="form-group">
        <label for="re-password">Confirm Password</label>
        <div id="password_container">
            <input type="password" class="form-control" id="re-password" name="re-password", placeholder="Enter password">
            <img src="../static/images/eye-show.png" alt="" id="re-icon">
        </div>
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-primary btn_reset">Submit</button>
    </div>
</form>
{% endblock %}
