{% extends 'base.html' %}
{% block title %}PineLine{% endblock %}
{% block content %}

    <div class="header">
        <ul>
            <li class="active form_1_progessbar">
                <div>
                    <p>1</p>
                </div>
            </li>
            <li class="form_2_progessbar">
                <div>
                    <p>2</p>
                </div>
            </li>
            <li class="form_3_progessbar">
                <div>
                    <p>3</p>
                </div>
            </li>
        </ul>
    </div>
    <div class="form_wrap">
        <div class="form_1 data_info">
                <h2>Step 1: Create new folder</h2>
                <div class="vid">
                    <img src="/static/Vid demo/Step_1-ezgif.com-video-to-gif-converter.gif" alt="">

                </div>
                
                
            </div>
            <div class="form_2 data_info">
                <h2>Step 2: Upload file fastq</h2>
                <div class="vid">

                    <img src="/static/Vid demo/Step_2-ezgif.com-video-to-gif-converter.gif" alt="">
                </div>
            </div>
            <div class="form_3 data_info">
                <h2>Step 3: Execute file fastq</h2>
                <div class="vid">
                    <img src="/static/Vid demo/Step_3-ezgif.com-video-to-gif-converter.gif" alt="">

                </div>
        </div>
    </div>
    <div class="btns_wrap">
        <div class="common_btns form_1_btns">
            <button type="button" class="btn_next">Next <span class="icon"><ion-icon
                        name="arrow-forward-sharp"></ion-icon></span></button>
        </div>
        <div class="common_btns form_2_btns">
            <button type="button" class="btn_back"><span class="icon"><ion-icon
                        name="arrow-back-sharp"></ion-icon></span>Back</button>
            <button type="button" class="btn_next">Next <span class="icon"><ion-icon
                        name="arrow-forward-sharp"></ion-icon></span></button>
        </div>
        <div class="common_btns form_3_btns">
            <button type="button" class="btn_back"><span class="icon"><ion-icon
                        name="arrow-back-sharp"></ion-icon></span>Back</button>
            <button type="button" class="btn_done">Done</button>
        </div>
    </div>


<script>
    var form_1 = document.querySelector(".form_1");
    var form_2 = document.querySelector(".form_2");
    var form_3 = document.querySelector(".form_3");

    var form_1_btns = document.querySelector(".form_1_btns");
    var form_2_btns = document.querySelector(".form_2_btns");
    var form_3_btns = document.querySelector(".form_3_btns");


    var form_1_next_btn = document.querySelector(".form_1_btns .btn_next");
    var form_2_back_btn = document.querySelector(".form_2_btns .btn_back");
    var form_2_next_btn = document.querySelector(".form_2_btns .btn_next");
    var form_3_back_btn = document.querySelector(".form_3_btns .btn_back");

    var form_2_progessbar = document.querySelector(".form_2_progessbar");
    var form_3_progessbar = document.querySelector(".form_3_progessbar");

    form_1_next_btn.addEventListener("click", function () {
        form_1.style.display = "none";
        form_2.style.display = "block";

        form_1_btns.style.display = "none";
        form_2_btns.style.display = "flex";

        form_2_progessbar.classList.add("active");
    });

    form_2_back_btn.addEventListener("click", function () {
        form_1.style.display = "block";
        form_2.style.display = "none";

        form_1_btns.style.display = "flex";
        form_2_btns.style.display = "none";

        form_2_progessbar.classList.remove("active");
    });

    form_2_next_btn.addEventListener("click", function () {
        form_2.style.display = "none";
        form_3.style.display = "block";

        form_3_btns.style.display = "flex";
        form_2_btns.style.display = "none";

        form_3_progessbar.classList.add("active");
    });

    form_3_back_btn.addEventListener("click", function () {
        form_2.style.display = "block";
        form_3.style.display = "none";

        form_3_btns.style.display = "none";
        form_2_btns.style.display = "flex";

        form_3_progessbar.classList.remove("active");
    });


</script>




{% endblock %}