{% extends "base.html" %}
{% block title %}Home{% endblock %}

{% block content %}
<style>
    table{
        table-layout: fixed;
        width: 100%;
    }
    table td, th{
        word-wrap: break-word;
    }
    th{
        text-align: left;
    }
</style>
<h1 align="center">My Files</h1>


    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Time</th>
                <th>Size</th>
            </tr>
        </thead>
        <tbody>
  
            {% for obj in name_folder %}
            <tr>
                <td>
                    <a href="{{ obj['fLink'] }}">
                        <span>
                            <i class="{{ obj['fIcon'] }}" style="margin-right: 0.3em;"></i>
                            {{ obj['name'] }}
                        </span></td>
                    </a>
                <td>{{ obj['mTime'] }}</td>
                <td>{{ obj['size'] }}</td>     
                <td>
                    <button type="button" class="close" onClick="deleteFile('{{ obj.name }}')">
                        <span aria-hidden="true">&times;</span></button>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
<!-- </ul> -->
<!-- Create new file -->
<form action="" method="post" enctype="multipart/form-data">
    <!-- <label for="file"></label> -->
    <input type="file" id="inputFile" name="inputFile" accept=".txt, .fastq">
    <input type="hidden" id="folderId" name="folderId" value="">
    <br>
    <div align="center">
        <button type="submit" onclick="uploadFile()" class="btn btn-primary">Add file</button>
    </div>
</form>
<!-- Create new folder -->
<form action="" method="post">
    <input type="text" id="folderName" name="folderName" placeholder="Enter folder name">
    <button type="submit" class="btn btn-primary">Create Folder</button>
</form>
<div id="result"></div>
{% endblock %}