table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  /* border: 1px solid black; */
  padding: 8px; 
  text-align: left; 
}

button{
  border: 0px;
  background-color: #fff;
}

button:hover{
  background-color: lightgrey;
}
